html{
  background-color: rgb(172, 163, 163);
}
body{
  border: 1px solid rgb(73, 65, 65);
  border-radius: 5%;
  background-color: bisque;
  padding-bottom: 30px;
  background-image: url(great-cookie.jpg);
  height: 1000px;
  opacity: 1,5;
  
}
button{
  width: 100px;
  height: 60px;
  border-radius: 15%;
  -webkit-transition: 350ms;
  transition: 350ms;
  font-family: 'Dancing Script', cursive;
  font-size-adjust: 30px;
}
button:hover {
    background-color:rgb(78, 28, 28); 
    color: white;
}
#user-form{
  display: none;
}
.headerRow td{
background-color: gray;
}
th{
background-color: gray;
  }
td, th {
  display: inline-block;
  width: 80px;
  margin: 10px 0px 10px 0px;
  border: 3px rgb(24, 24, 26) solid;
  background-color: rgb(51, 34, 34);
  color: white;
  text-align:center;
  font-family: 'Amatic SC', cursive;
}
td:hover{
background-color: red;
}
input{
  display: block;
  font-family: 'Permanent Marker', cursive;
  margin-bottom: 5px;
}
label{
  font-family: 'Permanent Marker', cursive;
}
.shopLocation{
  background-color: gray;

}
#tableElement{
  margin: auto;
}
